node-red/.node-red-config/flows.json
[{"id":"f92c43b7.b6ff7","type":"tab","label":"Flow 1"},{"x":221,"y":248,"z":"f92c43b7.b6ff7","id":"fe33d696.0ff528","name":"","once":false,"type":"inject","topic":"","wires":[["f124aa31.a5b998","5d69de5c.13174","9bff943b.f67be8"]],"repeat":"5","crontab":"","payload":"","payloadType":"date"},{"x":496,"y":412,"z":"f92c43b7.b6ff7","id":"f124aa31.a5b998","name":"","type":"debug","wires":[],"active":true,"console":"false","complete":"false"},{"x":515,"y":189,"z":"f92c43b7.b6ff7","id":"5d69de5c.13174","name":"","type":"debug","wires":[],"active":true,"console":"false","complete":"false"},{"x":362.5,"y":87,"z":"f92c43b7.b6ff7","id":"9bff943b.f67be8","func":"console.log('Haro every 5sec!!!')\nreturn msg;","name":"","type":"function","noerr":0,"wires":[[]],"outputs":1}]